.about-section {
  padding: 5rem 0;
  background: linear-gradient(
    to bottom,
    $black 0%,
    #{fade-out($black, 0.1)} 75%,
    #{fade-out($black, 0.2)} 100%
  );
  p {
    margin-bottom: 5rem;
  }
}
