.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $bright-pink !important;
      &:hover {
        color: $bright-pink;
      }
      &:active {
        color: $bright-pink;
      }
    }
    @media (max-width: 991px) {
      border: $bright-pink solid 1px;
      border-radius: 5px;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
  }
}

#mainNav {
  min-height: 56px;
  background-color: $light-pink;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $active;
    border: 1px solid $active;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: 0;
  }
  .navbar-brand img {
    height: 50px;
  }
  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
    .navbar-link {
      color: $bright-pink !important;
      &:hover {
        color: $bright-pink;
      }
      &:active {
        color: $bright-pink;
      }
    }
  }

  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: $light-pink;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: 0.5rem 0;
      color: fade-out($bright-pink, 0.5);
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($bright-pink, 0.5);
      &:hover {
        color: fade-out($bright-pink, 0.25);
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      .navbar-brand {
        color: $black;
      }
      .nav-link {
        color: fade-out($bright-pink, 0.5);
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $active;
        }
        &:active {
          color: darken($active, 15%);
        }
        &.active {
          color: $active;
          outline: none;
          border-bottom: 0.25rem solid $active;
        }
      }
    }
  }
}
