@import "variables.scss";
@import "mixins.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "buttons.scss";
@import "about.scss";
@import "timeline.scss";
@import "books.scss";
@import "author.scss";
@import "signup.scss";
@import "contact.scss";
@import "footer.scss";

body {
  font-family: "Nunito";
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.noscroll-class {
  overflow: hidden;
}

#fvpp-blackout {
  display: none;
  z-index: 1050;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

#bookPopup {
  display: none;
  max-width: 600px;
  width: 90%;
  position: fixed;
  z-index: 1500;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: $white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(#000000, 0.4);
}

.popup-img {
  max-height: 300px;
  max-width: 260px;
}

#fvpp-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
