@import "variables.scss";
@import "mixins.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "buttons.scss";
@import "about.scss";
@import "timeline.scss";
@import "books.scss";
@import "author.scss";
@import "signup.scss";
@import "contact.scss";
@import "footer.scss";

body {
  font-family: "Nunito";
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.noscroll-class {
  overflow: hidden;
}

#fvpp-blackout {
  display: none;
  z-index: 1050;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

#bookPopup {
  display: none;
  z-index: 1500;
  position: fixed;
  border-radius: 5px;
  width: 90%;
  left: 5%;
  top: 15%;
  padding: 10px 1%;
  background: $white;
}
@media (min-width: 768px) {
  #bookPopup {
    width: 70%;
    left: 15%;
    top: 20%;
    padding: 20px 2%;
    background: $white;
  }
}

@media (min-width: 992px) {
  #bookPopup {
    width: 50%;
    left: 25%;
    top: 20%;
    padding: 20px 2%;
  }
}

@media (min-width: 1200px) {
  #bookPopup {
    width: 50%;
    left: 25%;
    top: 20%;
    padding: 20px 2%;
  }
}

.popup-img {
  height: 300px;
}

#fvpp-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
